<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/100.css' />
  </head>
  <body class="flex-center">
    <div class="main-container flex flex-column">
      <div class="menu-container flex">
        <div class="menu flex1 flex-center"><a href="/property">속성 추가</a></div>
        <div class="menu flex1 flex-center"><a href="/item">아이템 추가</a></div>
        <div class="menu flex1 flex-center"><a href="/makeimages">이미지 생성</a></div>
        <div class="menu flex1 flex-center"><a href="/property">이미지 확인</a></div>
        <div class="menu flex1 flex-center"><a href="/property">테스트 조합</a></div>
        <div class="menu flex1 flex-center"><a href="/property">초기화</a></div>
      </div>
      <div class="list-container flex1">
        <div class="flex property-list flex-column">
          <% for(var i=0; i<data.length; i++) { %>
            <div>
              <button><%=data[i].id%></button>
              <div>
                <% for(var j=0; j<data[i].items.length; j++) { %>
                  <button><%=data[i].items[j].id%></button>
                <% } %>
              </div>
            </div>
          <% } %>
        </div>
        <div class="flex1 flex-wrap overflow-scroll flex-around">
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
        </div>
      </div>
    </div>
  </body>
</html>
