<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/100.css' />
  </head>
  <body class="flex-center">
    <div class="main-container flex flex-column">
      <div class="menu-container flex">
        <div class="menu flex1 flex-center">속성 추가</div>
        <div class="menu flex1 flex-center">아이템 추가</div>
        <div class="menu flex1 flex-center">이미지 생성</div>
        <div class="menu flex1 flex-center">이미지 확인</div>
        <div class="menu flex1 flex-center">테스트 조합</div>
        <div class="menu flex1 flex-center">초기화</div>
      </div>
      <div class="list-container flex1">
        <div class="flex property-list flex-column">
          <div>
            <button>속성1</button>
            <div>
              <button>아이템1</button>
              <button>아이템1</button>
              <button>아이템1</button>
            </div>
          </div>

          
          <div>
            <button>속성1</button>
            <div>
              <button>아이템1</button>
              <button>아이템1</button>
              <button>아이템1</button>
            </div>
          </div>

          
          <div>
            <button>속성1</button>
            <div>
              <button>아이템1</button>
              <button>아이템1</button>
              <button>아이템1</button>
            </div>
          </div>
          
        </div>
        <div class="flex1 flex-column">
          <div class="flex1">
            예시 이미지
          </div>
          <div class="flex1">
            예시 이미지 속성
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
