<html>
    <head>

    </head>
    <body>
        <form method="post" action="/service/addproperty">
            <input type="text" id="id" name="id"/>
            <input type="submit" />
        </form>
    </body>
</html>